.moment-card-root {
  text-align: center;
}

.moment-card-title1 {
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (max-width: 750px) {
  .moment-card-paragraph {
    font-size: 12px !important;
  }
  .moment-card-title1 {
    font-size: 20px;
  }
  .moment-card-title2 {
    font-size: 17px;
  }
}
