.app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(210, 196, 174) 70%, rgb(41, 64, 35));
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}
